.font16-400 {
    font-size: 16px;
    font-weight: 400;
}

.logoMainLink {
    flex-shrink: 0;
}

.font14-400 {
    font-size: 14px;
    font-weight: 400;
}
.col-md-6{
    max-width: 480px;
}
.font12-400 {
    font-size: 12px;
    font-weight: 400;
}

.colorMain {
    color: $main;
}

.bgMain {
    color: $main;
}
.part-cont{
    width: 100px;
    height: 100px;
    overflow: hidden;
    padding: 10px ;
    border-radius: 7px;
    border : 1px solid $main;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #484C52;
    padding: 10px 33px 15px;
    transition: none !important;
    *{
        transition: none !important;
    }
    @media screen and (max-width: 767px) {
        padding: 10px 0;
    }

    .right-side {
        display: flex;
        align-items: center;
        gap: 16px;
        @media screen and (max-width: 767px) {
            gap: 10px;
            
        }
        button{
            min-width: 60px;
            transition: none !important;
            padding: 2px !important;
            gap: 2px !important;
            justify-content: center !important;
            align-items: center !important;
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }
    }

    .van {
        display: flex;
        gap: 6px;
        align-items: center;
        cursor: pointer;
        color: $black;

        img {
            width: 20px;
            height: auto;
        }
    }

    .global {
        display: flex;
        align-items: center;
        gap: 6px;
        position: relative;
        cursor: pointer;

        img {
            width: 12px;
            height: auto;
            flex-shrink: 0;
        }

        i {
            font-size: 8px;
        }
    }

    .langs {
        display: flex;
        flex-direction: column;

        gap: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        /* border: 1px solid #484C52; */
        min-width: 150px;
        border-radius: 15px;
        box-shadow: 0 0 10px #484C52;
        position: absolute;
        top: 30px;
        inset-inline-end: 0;
        z-index: 60;
        background-color: white;
        display: none;

        a {
            margin: 0;
            border-bottom: 1px solid #484C52;
            width: 100%;
            text-align: center;
            // &inclide tr;
            color: #484C52;
        }

        a:hover {
            background-color: #cfd3d8;
        }

        a:last-child {
            border: none;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #484C52;
        opacity: .3;
        z-index: 50;
        display: none;
    }
}
.container{
  margin: auto;
}
.mainNavBar {
    border-radius: 28px;
    box-shadow: 0 0 20px #E5E5E5;
    display: flex;
    align-items: center;
    padding: 17px 33px;
    border: 1px solid rgba($color: #1C1C1C, $alpha: .1);
    justify-content: space-between;
    gap: 25px;
    @media screen and (max-width: 991px) {
        // flex-wrap: wrap;
        gap: 15px;
        padding: 7px 10px;

        .input-cont {
            order: 2;

            input {
                padding-inline-start: 15px;
            }
        }
    }
    .locati{
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
    .nav-card{
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
    .cart-balance{
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
}

header{
    .logo {
        width: auto;
        height: auto;
        max-height: 50px;
        @media screen and (max-width: 767px) {
            width: 70px;
            
        }
    }
    
}

.selec {
    display: flex;
    align-items: center;
    gap: 7px;
    span{
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    i {
        font-size: 8px;
    }
}

.locati {
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        align-items: center;
    }
}


header {
    margin-bottom: 24px;
    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
        
    }
    .input-cont {
        position: relative;
        display: flex;
        align-items: center;
        gap: 14px;
        border-radius: 30px;
        border: 1px solid #1C1C1C1A;
        height: 48px;
        // max-width: 436px;
        width: 100%;

        transition: none !important;
        @media screen and (max-width: 767px) {
            height: 40px;
            gap: 0px    ;
        }
        * {
            transition: none !important;
        }

        input {
            border: none;
            transition: none !important;
            outline: none;
            padding-inline-start: 30px;
            height: 100%;
            width: 100%;
            border-radius: 30px;
            background-color: transparent;
        }

        select {

            transition: none !important;
        }

        button {
            transition: none !important;
            background-color: transparent;
            color: #484C52;
            font-size: 14px;
            font-weight: 400;
            border: transparent !important;
            outline: none !important;
            display: flex;
            box-shadow: none !important;
            gap: 7px;
            align-items: center;
            @media screen and (max-width: 767px) {
                padding: 4px !important;
                
            }
        }

        .search-data {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 20px #E5E5E5;
            z-index: 6;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            a{
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
                border-bottom: 1px solid #E5E5E5;
                padding: 10px;
                color: $black;
                transition: .3s ease;
                border-radius: 7px;
                transition: all 0.3s ease-in-out !important;
                &:hover{
                    background-color: $main;
                    color: $white;
                }
                .img{
                    width: 80px;
                    height: 50px;
                    border-radius: 7px;
                    flex-shrink: 0;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    height: 100%;
                    justify-content: space-between;
                    h2{
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 0;
                    }
                    h3{
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }

                }
            }
        }

        .search-icon {
            width: 48px;
            height: 48px;
            background-color: $main;
            // border-radius: 0 30px 30px 0;
            border-end-end-radius: 30px;
            border-start-end-radius: 30px;
            

            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media screen and (max-width: 767px) {
                width: 40px;
                height: 40px;
                
            }
        }
    }

    .nav-card {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        flex-shrink: 0;
        @media screen and (max-width: 767px) {
            gap: 4px;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            flex-shrink: 0;
            aspect-ratio: 1/1;
            object-fit: cover;
            @media screen and (max-width: 767px) {
                width: 40px;
                height: 40px;
                
            }
        }

        i {
            color: $main;
            height: 20px;
            width: auto;
            max-width: 100px;
            border-radius: 3px;
            overflow: hidden;
            padding-bottom: 3px;
            @media screen and (max-width: 767px) {
                height: 15px;
                
            }

        }

        p {
            color: $main;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
        }
    }

    .cart {
        width: 52px;
        height: 52px;
        flex-shrink: 0;
        background-color: $main;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;

        @media screen and (max-width: 767px) {
            width: 40px;
            height: 40px;
        }

        i {
            color: $white;
        }

        span {
            position: absolute;
            inset-inline-end: -4px;
            bottom: 0;
            width: 18px;
            height: 18px;
            border: 1px solid $main;
            box-shadow: 0 0 10px $white;
            background-color: $white;
            color: $main;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Linotte-Regular;
            font-size: 12px;
            font-weight: 400;
        }
    }

    .balance {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        @media screen and (max-width: 767px) {
            display: none;
            
        }
        span {
            color: $main;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .cart-balance {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}


.fixed-nav-bar-in-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 0 0 20px #E5E5E5;
    z-index: 10;
    display: none;
    border-radius: 20px 20px 0 0;
    @media screen and (max-width: 991px) {
        display: block;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }
}